body{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

button{
    font-weight: 600;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 7px;
    box-shadow: 3px 3px 5px gray;
    cursor: pointer;
}

#container{
    display: flex;
}
.Box{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

span{
    font-size: 25px;
    font-weight: 700;
}